@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&display=swap");

:root {
  --lightColor: whitesmoke;
  --lightGrey: #dfdfdf;
  --lightGreen: #b0f097;
  --darkLime: #55ac08;
  --sottel: "Sottel", sans-serif;
}

.navbar {
  z-index: 1;
  width: 100%;
}

.navbar-brand {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 50px;
  margin-left: 2%;
  margin-left: 2%;
  margin-right: 32%;
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.favourite {
  margin-left: 5%;
}

#recipes {
  display: flex;
  justify-content: space-around;
}

.container {
  align-items: center;
  justify-content: center;
}

.btn {
  background: var(--lightGrey);
  color: var(--lightColor);
  color: var(--lightColor);
  font-family: var(--sottel);
  border-color: var(--darkLime);
  border-width: 2px;
  padding: 5px;
}

.btnshadow:hover {
  box-shadow: 0 30px 30px var(--darkLime);
}
.btn:hover {
  box-shadow: 0 6px 10px var(--darkLime);
  background-color: var(--lightColor);
  color: var(--darkLime);
}

.subscribe {
  display: flex;
  border-radius: 8%;
  justify-content: center;
  background: var(--darkLime);
}

.form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/*--------FOOTER---------------*/

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  transform: scale(1.2);
}

.favouriteIcon:hover {
  cursor: pointer;
}

.modal-header {
  justify-content: end;
}
.favouriteIcon:hover {
  cursor: pointer;
}

.favourite:hover {
  cursor: pointer;
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
