@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&display=swap");

:root {
  --lightColor: whitesmoke;
  --lightGrey: #dfdfdf;
  --lightGreen: #b0f097;
  --darkLime: #55ac08;
  --sottel: "Sottel", sans-serif;
}

.navbar {
  z-index: 1;
  width: 100%;
  background-color: #63c4c4;

}

.navbar a{
  font-size: 2rem;
}

.navbar-brand {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 50px;
  margin-left: 2%;
  margin-right: 20%;
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.favourite {
  margin-left: 5%;
}

.container {
align-items: center;
justify-content: center;
}

.btn {
  background: var(--lightGrey);
  color: var(--lightColor);
  font-family: var(--sottel);
  border-color: var(--darkLime);
  border-width: 2px;
  padding: 5px;
}
  
.btnshadow:hover {
  box-shadow: 0 30px 30px var(--darkLime);
}
.btn:hover {
  box-shadow: 0 6px 10px var(--darkLime);
  background-color: var(--lightColor);
  color: var(--darkLime)
}

.subscribe {
  display: flex;
  border-radius: 8%;
  justify-content: center;
  background: var(--darkLime);
}

.form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#recipes {
  display: flex;
  gap: 1rem;
  background-color: #dfdfdf;
  padding: 5px;
  background-color: #afb4a8;
  flex-wrap: wrap;
}

.jumbotron{
  background-color:rgb(132, 169, 147);
}

ul {
  display: flex;
  gap: 0.7rem;
}

ul a{
  text-decoration: none;
  color: #55ac08;
  font-size: 1px;
}

ul li {
  list-style: none;
  font-size: 1.6rem;
  color: aliceblue;
  font-weight:bold;
}

ul a:hover {
  color: #dfdfdf;
  background-color: blue;
  width: 120px;
  text-align: center;
  transition: 0.5s;
  border-radius: 25px;
}

/*--------FOOTER---------------*/

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}

.favouriteIcon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .icon {
    width: 50px;
    height: 50px;
  }
  .jumbotron .row {
    display: flex;
    justify-content: space-around;
  }

  .jumbotron button {
    width: 50%;
    height: 40px;
    font-size: 20px;
  }

  .container p {
    font-size: 10px;
  }

  #recipes{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .navbar a{
    font-size: 1.5rem;
  }

  .material-icons,ul li {
    align-items: center;
    font-size: 1.0rem;
  }
}